.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.5rem 2rem;
}

.main { 
    /* background-color: #dcdac5; */
    flex: 1;
}

@media (max-width: 768px) {
    .main {
        padding: 1rem;
    }
    .wrapper {
        padding: 1rem;
    }
}   