

.article {
    padding: 2rem;
    background-color: #925a8d;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;        
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.date {
    font-size: 1rem;
    color: #18b004;
    margin-bottom: 1rem;
}

.content {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.markdown {
    line-height: 1.8;
    font-size: 1rem;
    color: #e3d9d9;
  }
  
  /* よくある見出しなど */
  .markdown h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .markdown h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .markdown p {
    margin-bottom: 1rem;
  }
  
  .markdown code {
    background: #191313;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
  }
  
  .backButton {
    color:rgb(11, 205, 50);
    text-decoration: none;
  }
  
  
