.article {
    padding: 2rem;
    background-color: #F5F2EC;
    margin: 0 auto;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.postList {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

.postItem {
    margin-bottom: 1.5rem;
}

.postTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0070f3;
    text-decoration: none;
}   

.meta {
    margin: 0.3rem 0;
    color: #777;
}

.tag {
    display: inline-block;
    margin: 0.2rem 0.5rem 0 0;
    padding: 0.3rem 0.6rem;
    border-radius: 9999px;
    background-color:rgb(154, 198, 22);
    color: #005a9c;
    font-size: 0.8rem;
    font-weight: 500;
}
