

.article {
    padding: 2rem;
    background-color: #F8F8F8;
    margin: 0 auto;
    border-radius: 12px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;        
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.date {
    font-size: 1rem;
    color: #34495E;
    margin-bottom: 1rem;
}

.content {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.markdown {
    line-height: 1.8;
    font-size: 1rem;
    color: #4A4A4A;
  }
  
  /* よくある見出しなど */
  .markdown h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .markdown h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .markdown p {
    margin-bottom: 1rem;
  }
  
  .markdown code {
    background: #F0F8FF;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
  }
  
  .backButton {
    color:#C7605E;
    text-decoration: none;
  }

  .backButton:hover {
    text-decoration-color:#BF8B67;
    text-decoration: underline;
  }

